
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

input[type='text'],
input[type='number'],
input[type='email'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.form-container h2 {
  margin-bottom: 10px;
}

.buttons-container {
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #ddd;
}

.update-button {
  background-color: #4caf50;
  color: #fff;
}

.update-button:hover {
  background-color: #45a049;
}



.delete-button {
  background-color: #f44336;

  color: #fff;
}

.delete-button:hover {
  background-color: #da190b;
}
.cancel-button {
  background-color: #403f40;

  color: #fff;
}

.cancel-button:hover {
  background-color: #4f4a4a;
}
.buttons-container .create-button {
  background-color: #007bff;
  color: #fff;
}

.buttons-container .create-button:hover {
  background-color: #0056b3;
}
